{% extends 'doctor_base.html' %}
{% block content %}
<div class="container">
    <h1>Welcome, Doctor {{ user.username }}</h1>
    <h2>Survey List</h2>
    <ul>
        {% for survey_response in questions %}
            <li>
                <h3>{{ survey_response.survey.title }}</h3>
                <p><strong>Description:</strong> {{ survey_response.survey.description }}</p>
                <h4>Questions:</h4>
                <form method="post" action="{% url 'doctor-add-answers' survey_response.survey.id %}">
                    {% csrf_token %}
                    <input type="hidden" name="survey_id" value="{{ survey_response.survey.id }}">
                    <ul>
                        {% for question in survey_response.questions %}
                            <li>
                                <h5>{{ question.question_text }}</h5>
                                <div class="form-group">
                                    <textarea class="form-control" id="answer_{{ question.id }}" name="answer_{{ question.id }}" rows="4" cols="50"></textarea>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                    <button type="submit" class="btn btn-primary">Submit Answers</button>
                </form>
            </li>
        {% empty %}
            <p>No surveys available.</p>
        {% endfor %}
    </ul>
</div>
{% endblock %}
