{% extends 'patient_base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <title>الإجابة على الأسئلة</title>
</head>
<body>
    <h1>الإجابة على الأسئلة للاستبيان "{{ survey.title }}"</h1>
    <form method="post">
        {% csrf_token %}
        {% for question in questions %}
            <label for="answer_{{ question.id }}">{{ question.question_text }}</label><br>
            <textarea id="answer_{{ question.id }}" name="answer_{{ question.id }}" rows="4" cols="50"></textarea><br>
        {% endfor %}
        <input type="submit" value="تقديم الإجابات">
    </form>
</body>
</html>
{% endblock content %}
