{% extends 'doctor_base.html' %}
{% block content %}
{%load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Survey</title>
</head>
<body>
    <h1>{{ survey.title }}</h1>
    <p>{{ survey.description }}</p>
    <form method="post">
        {% csrf_token %}
        {% for question in questions %}
            <label for="id_question_{{ question.id }}">{{ question.question_text }}</label><br>
            <input type="text" name="question_{{ question.id }}"><br><br>
        {% endfor %}
        <button type="submit">Submit</button>
    </form>
</body>
</html>
{% endblock content %}
