{% extends 'homebase.html' %}

{% block content %}

<br>
<br>
<style>
  .fa {
    padding: 20px;
    font-size: 23px;
    width: 60px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    background: linear-gradient(to right, #5E8B7E, #8A2BE2); /* Apply linear gradient */
    color: #5E8B7E; /* Set text color */
  }

  .fa:hover {
    opacity: 0.5;
    text-decoration: none;
  }

  p {
    text-align: center;
    color: #ffffff; /* Set text color to white for better contrast */
    background: linear-gradient(to right, #a41515, #3875d7); /* Apply linear gradient */
    padding: 20px; /* Add padding for better spacing */
    border-radius: 5px; /* Add border radius for rounded corners */
  }

  .jumbotron {
    margin-top: 0px;
    margin-bottom: 0px;
    background: linear-gradient(to right, #a41515, #3875d7); /* Apply linear gradient */
  }

  .btn {
    background: linear-gradient(to right, #a41515, #3875d7); /* Apply linear gradient */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px; /* Increase margin for better spacing */
    cursor: pointer;
    border-radius: 5px;
  }

  .btn:hover {
    background: linear-gradient(to right, #3875d7, #a41515); /* Apply linear gradient on hover */
  }

</style>
<div class="jumbotron" style="margin-bottom:0px;">
  <h3 class="lead" style="font-size: 30px; color: white; text-align: center;">Hello</h3>
  <hr class="my-4">
  <p class="lead" style="font-size: 24px;">Welcome to SpeedHealthLine! Sign up now to get started:</p>

  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/patientsignup" role="button">PatientSignUp</a>
    <a class="btn btn-primary btn-lg" href="/doctorsignup" role="button">DoctorSignUp</a>
    <a class="btn btn-primary btn-lg" href="/adminsignup" role="button">AdminSignUp</a>
    <a class="btn btn-primary btn-lg" href="/Userlogin" role="button">Login</a>
  </p>
</div>

{% endblock content %}
